#header{
   font-weight:larger;
   padding: 20px;
   text-align:center;
   margin-bottom: 10px;
   background-color: #A7BEAE;
   color: #B85042;
   border: 20px #A7BEAE;
   border-radius:20px;
}
img{
    max-width: 100%;
    height: auto;
    background-color: #A7BEAE;
    border-image: round;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.meal{
    text-align:center;
    font-weight: larger;
    padding: 10px;
    font-size:25px;
    background-color: #A7BEAE;
    border: 20px #A7BEAE;
   border-radius:20px;

}
body{
    background-color: #E7E8D1;
    color:#B85042;
    font-size: 20px;
}
.recipes{
    
    background-color: #E7E8D1;
    color:#B85042;
    
}
#button{
    display: flex;
    padding: 5px;
    border: 15px #A7BEAE;
    border-radius: 10px ;


}
.break{
margin-left: 1100px;
}

@media (max-width: 800px) {
    #button {
      flex-direction: column;
    }
  }